@model PrivTours.ViewModels.ConfiguracionConPermisosViewModel


@{
    ViewData["Title"] = "Index";
}

@section Styles{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Configuración Private Tours</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Configuración</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <div class="content">
        @if (Model.Configuracion_Permiso)
        {
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <a class="btn btn-outline-success" asp-action="CrearRol"><i class="fa fa-plus-circle"></i> Crear nuevo rol</a>
                    </p>

                </div>

                <table id="tabla" class="table">
                    <thead>
                        <tr>
                            <th>
                               Nombre Rol
                            </th>


                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rol in Model.Roles)
                        {
                            var sel = rol.DetallePermiso.Count > 0 ? "" : "disabled";
                            var sel2 = rol.DetallePermiso.Count > 0 ? "disabled" : "";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => rol.NombreRol)
                                </td>

                                <td>

                                    @if (Model.Configuracion_editar_rol_Permiso)
                                    {
                                        <a class="btn btn-secondary" asp-action="EditarRol" asp-route-id="@rol.Id"><i class="fas fa-user-edit"></i> Editar Rol</a>
                                    }
                                    @if (Model.Configuracion_eliminar_rol_Permiso)
                                    {
                                        <a class="btn btn-danger" onclick="eliminarRol('@rol.Id', '@rol.NombreRol');"><i class="fas fa-user-minus"></i> Eliminar Rol</a>

                                    }
                                    @if (Model.Configuracion_editar_permi_Permiso)
                                    {
                                        <a asp-action="EditarPermisos" asp-route-id="@rol.Id" class="btn btn-secondary @sel"><i class="fas fa-user-edit"></i> Editar Permisos</a>
                                    }
                                    @if (Model.Configuracion_eliminar_permi_Permiso)
                                    {
                                        <a class="btn btn-danger @sel" onclick="eliminar('@rol.Id', '@rol.NombreRol');"><i class="fas fa-user-minus"></i> Eliminar Permisos</a>
                                    }
                                    @if (Model.Configuracion_asignar_permi_Permiso)
                                    {
                                        <a class="btn btn-success @sel2" asp-action="AsignarPermisos" asp-route-id="@rol.Id"><i class="fa fa-plus-circle"></i> Asignar Permisos</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.container-fluid -->
        }
        else
        {
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">

                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Acceso denegado: 403</p>
                        </div>
                        <div class="col-md-10">
                            <h3>OPPSSS!!!! Lo sentimos...</h3>
                            <p>No tienes acceso al recurso.<br />Por favor regresa a la página en la que te encontrabas.</p>
                            <a class="btn btn-danger" href="javascript:history.back()">Volver</a>
                            <!--<a asp-action="Index">Volver</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script src="~/js/tabla.js"></script>

    <script>

        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("CrearRol"))
            {

            <text>

                Swal.fire({

                    title: "Felicitaciones",
                    type: "success",
                    html: "@TempData["Mensaje"]"

                });

            </text>

            }

        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarRol"))
            {

            <text>

                Swal.fire({

                    title: "Felicitaciones",
                    type: "success",
                    html: "@TempData["Mensaje"]"

                });

            </text>

            }


          function eliminarRol(roleIdentityId, nombreRol) {
            Swal.fire({
                title: '¿Está seguro de eliminar el Rol?',
                text: nombreRol,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Sí, eliminar!',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("EliminarRol", "Roles")',
                        contentType: false,
                        processData: false,
                        data: jQuery.param({ roleIdentityId: roleIdentityId}),
                        success: function (result) {

                            if (result.status) {
                                setTimeout(function () {
                                    window.location.href = "@Url.Action("Index", "Roles")";
                                }, 1500);
                                Swal.fire({
                                    icon: 'success',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 5000
                                })
                            } else if (!result.status && result.data) {
                                console.log("ERROR!!");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: result.data,
                                })
                            } else {
                                console.log("ERROR!!");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: result.message,
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err.data)
                        }
                    });
                }
            })
        }


        function eliminar(roleIdentityId, nombreRol) {
            Swal.fire({
                title: '¿Está seguro de eliminar el Rol?',
                text: nombreRol,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Sí, eliminar!',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("EliminarPermisos", "Roles")',
                        contentType: false,
                        processData: false,
                        data: jQuery.param({ roleIdentityId: roleIdentityId}),
                        success: function (result) {

                            if (result.status) {
                                setTimeout(function () {
                                    window.location.href = "@Url.Action("Index", "Roles")";
                                }, 1500);
                                Swal.fire({
                                    icon: 'success',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 5000
                                })
                            } else {
                                console.log("ERROR!!");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: result.message,
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err.data)
                        }
                    });
                }
            })
        }

        function editarPermisos(roleIdentityId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("EditarPermisos", "Roles")',
                        data: jQuery.param({ roleIdentityId: roleIdentityId }),
                        dataType: 'json'
                    });
        }

    </script>
}
