@model IEnumerable<PrivTours.ViewModels.SolicitudViewModel>

@{
    ViewData["Title"] = "Index";
}


@section Styles{

    <link href="~/css/EstiloCardTarea.css" rel="stylesheet" />

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tareas Private Tours</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tareas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
       
            <div class="row">
                @foreach (var tarea in Model)
                {
                    <div class="card col-4">
                        <h3 class="card-header">Solicitud #@tarea.SolicitudId</h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="card-subtitle mb-2 text-muted">Nombre cliente :  </h4>
                                    <p>@tarea.Cliente.Nombre @tarea.Cliente.Apellidos</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Telefono cliente</h4>
                                    <p>@tarea.Cliente.Telefono</p>

                                </div>
                                <div class="col-sm-3">
                                    <h4 class="card-subtitle mb-2 text-muted">Nombre servicio :  </h4>
                                    <p>@tarea.Servicio.Nombre</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Descripcion servicio :  </h4>
                                    <p>@tarea.Descripcion</p>

                                </div>

                                <div class="col-sm-3 ">
                                    <h4 class="card-subtitle mb-2 text-muted">Fecha inicio:</h4>
                                    <p>@tarea.FechaInicio : @tarea.HoraInicio</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Fecha Fin:</h4>
                                    <p>@tarea.FechaFin : @tarea.HoraFinal</p>

                                </div>

                                <div class="col-sm-3" id="botones">
                                    <div class="order-column">
                                        <a onclick="cambiarEstadoSolicitud('@tarea.SolicitudId', 3, '@tarea.Servicio.Nombre');" class="btn btn-success">Iniciar tarea</a>
                                        <a onclick="cambiarEstadoSolicitud('@tarea.SolicitudId', 1, '@tarea.Servicio.Nombre');" class="btn btn-danger">Cancelar tarea</a>
                                        <a onclick="cambiarEstadoSolicitud('@tarea.SolicitudId', 2, '@tarea.Servicio.Nombre');" class="btn btn-primary">Terminar tarea</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>
@section Scripts{

    <script src="~/js/Tabla.js"></script>
    <script>

        function cambiarEstadoSolicitud(id, tipo, nombreServicio) {
            var textoTerminarCancelar = "";
            if (tipo == 1) {
                textoTerminarCancelar = "CANCELAR"
            } else if (tipo == 2) {
                textoTerminarCancelar = "TERMINAR"
            } else {
                textoTerminarCancelar = "INICIAR(EN PROCESO)"
            }
            Swal.fire({
                title: '¿Está seguro de ' + textoTerminarCancelar + ' la solicitud?',
                text: nombreServicio,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Sí, ' + textoTerminarCancelar+' !',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CambiarEstadoSolicitud", "Tareas")',
                        data: jQuery.param({ id: id, tipo: tipo}),
                        success: function (result) {

                            if (result.status) {
                                setTimeout(function () {
                                    window.location.href = "@Url.Action("Index", "Tareas")";
                                }, 1500);
                                Swal.fire({
                                    icon: 'success',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 2500
                                })
                            } else {
                                console.log("ERROR!!");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: result.message,
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err.data)
                        }
                    });
                }
            })
        }

    </script>
}

