@model IEnumerable<PrivTours.ViewModels.SolicitudViewModel>

@{
    ViewData["Title"] = "Index";
}


@section Styles{
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="~/css/EstiloCardTarea.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tareas Private Tours</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tareas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-2">
                    <h4>Buscar por: </h4>

                    <div id='external-events-list'>
                        <select class="form-control input w-full border mt-2 flex-1" id="TipoDeBusqueda">
                            <option value="1">Todos</option>
                            <option value="5">Estado tarea</option>
                            <option value="6">Fechas de Inicio</option>
                            <option value="7">Fechas de Fin</option>
                        </select>
                    </div>

                    <div id="tipoBusquedaSelect">
                        <br />
                        <label>Seleccione en valor de la busqueda</label>
                        <select class="form-control input w-full border mt-2 flex-1" searchable="Busca aquí.." id="TipoDeBusquedaSeleccionado">
                            <option value="0">Seleccione</option>
                        </select>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary align-content-center" onclick="filtar()">Aplicar filtro</button>
                </div>

                <div class="col-3" id="fechasFiltros">
                    <div class="form group">
                        <label class="control-label">Desde</label>
                        <input class="form-control input w-full border mt-2 flex-1" type="datetime-local" id="FechaInicioFiltro" />
                    </div>
                    <div class="form group">
                        <label class="control-label">Hasta</label>
                        <input class="form-control input w-full border mt-2 flex-1" type="datetime-local" id="FechaFinFiltro" />
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row" id="cardTarea">

                    @foreach (var tarea in Model)
                    {

                        <div class="courses-container" >
                            <div class="course">
                                <div class="course-preview">

                                    <h4 class="card-subtitle mb-2 text-muted">Nombre cliente :  </h4>
                                    <p>@tarea.Cliente.Nombre @tarea.Cliente.Apellidos</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Telefono cliente</h4>
                                    <p>@tarea.Cliente.Telefono</p>

                                    <h4 class="card-subtitle mb-2 text-muted">Nombre tarea :  </h4>
                                    <p>@tarea.Operacion.Nombre</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Descripcion tarea :  </h4>
                                    <p>@tarea.DescripcionTarea</p>


                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>

                                        <span class="progress-text">

                                            @if (tarea.EstadoTarea == 1)
                                            {
                                                <a>RESERVADA</a>
                                            }
                                            else if (tarea.EstadoTarea == 2)
                                            {
                                                <a>INICIADA</a>
                                            }
                                            else if (tarea.EstadoTarea == 3)
                                            {
                                                <a>VENCIDA</a>
                                            }
                                            else if (tarea.EstadoTarea == 4)
                                            {
                                                <a>CANCELADA</a>
                                            }
                                            else if (tarea.EstadoTarea == 5)
                                            {
                                                <a>FINALIZADA EMPLEADO</a>
                                            }
                                            else if (tarea.EstadoTarea == 6)
                                            {
                                                <a>FINALIZADA ADMIN</a>
                                            }
                                        </span>
                                    </div>
                                    <h6>Tarea # @tarea.TareaId</h6>
                                    <h4 class="card-subtitle mb-2 text-muted">Fecha inicio:</h4>
                                    <p>@tarea.FechaInicioTarea</p>
                                    <h4 class="card-subtitle mb-2 text-muted">Fecha Fin:</h4>
                                    <p>@tarea.FechaFinTarea </p>

                                    <div class="row-cols-3">
                                        <a onclick="cambiarEstadoTarea('@tarea.TareaId', 3, '@tarea.Operacion.Nombre');" class="btn btn-success">Iniciar tarea</a>
                                        <a onclick="cambiarEstadoTareaCancelar('@tarea.TareaId', 1, '@tarea.Operacion.Nombre');" class="btn btn-danger">Cancelar tarea</a>
                                        <a onclick="cambiarEstadoTarea('@tarea.TareaId', 2, '@tarea.Operacion.Nombre');" class="btn btn-primary">Terminar tarea</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
    @section Scripts{

        <script src="~/js/Tabla.js"></script>
        <script src="~/js/CardAnim.js"></script>
        <script>


        $(function () {
            $('#fechasFiltros').hide();

        })

        $(document).ready(function () {

            document.getElementById('TipoDeBusqueda').addEventListener('change', function () {
                filtroSeleccionado(this.value)
            });

        });

        function cambiarEstadoTarea(id, tipo, nombreServicio) {
            var textoTerminarCancelar = "";
            if (tipo == 1) {
                textoTerminarCancelar = "CANCELAR"
            } else if (tipo == 2) {
                textoTerminarCancelar = "TERMINAR"
            } else {
                textoTerminarCancelar = "INICIAR"
            }
            Swal.fire({
                title: '¿Está seguro de ' + textoTerminarCancelar + ' la tarea?',
                text: nombreServicio,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Sí, ' + textoTerminarCancelar+' !',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CambiarEstadoSolicitud", "Tareas")',
                        data: jQuery.param({ id: id, tipo: tipo, novedad: ""}),
                        success: function (result) {

                            if (result.status) {
                                setTimeout(function () {
                                    window.location.href = "@Url.Action("Index", "Tareas")";
                                }, 1500);
                                Swal.fire({
                                    icon: 'success',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 2500
                                })
                            } else {
                                console.log("ERROR!!");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: result.message,
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err.data)
                        }
                    });
                }
            })
        }

        async function cambiarEstadoTareaCancelar(id, tipo, nombreServicio) {

            const { value: text } = await Swal.fire({
                input: 'textarea',
                inputLabel: 'Por favor ingresa el motivo de cancelacion de la tarea',
                inputPlaceholder: 'Escribe tu mensaje aquí...',
                inputAttributes: {
                    'aria-label': 'Escribe tu mensaje aquí'
                },
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Cancelar tarea',
                cancelButtonText: 'Regresar',
                inputValidator: (value) => {

                if (value) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CambiarEstadoSolicitud", "Tareas")',
                    data: jQuery.param({ id: id, tipo: tipo, novedad: value }),
                    success: function (result) {

                        if (result.status) {
                            setTimeout(function () {
                                window.location.href = "@Url.Action("Index", "Tareas")";
                            }, 1500);
                            Swal.fire({
                                icon: 'success',
                                title: result.message,
                                showConfirmButton: false,
                                timer: 2500
                            })
                        } else {
                            console.log("ERROR!!");
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: result.message,
                            })
                        }
                    },
                    error: function (err) {
                        console.log(err.data)
                    }
                });

            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Debe ingresar la novedad para cancelar la solicitud',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
                }
            })
        }

        </script>

        <script src="~/js/FiltrosTareas.js"></script>
    }

